@(title: String, storyList: List[Story])

@main("Welcome to StoryHub"){ }{

	<div class="container">
		<p class="title">
			@title
		</p>
		<div id="all_stories">
			@for(story <- storyList){
			<div class="story">
				<table>
				<col style="width:90%"><col style="width:10%">
				<tr>
					<td>
						<a class="title" href="/Story/@story.getStoryId()/0"> @story.getRoot().getTitle()</a>
					</td>
				</tr>
				<tr>
					<td>
						<div class="author"> @story.getRoot().getAuthor() </dv>
					</td>
				</tr>
				<tr> 
					<td>
						<ul class="tags">
				@for(tag <- story.getRoot().getTags()){
					<li><a href="/Search/@tag" class="tag">@tag</a></li>
			}
			</ul>
					</td>
				</tr>
				<tr>
					<td>
						<div class="content"> @Html(story.getRoot().displayContent())</div>
					</td>
				</tr>
			</table>
			</div>
		}
		</div>
	</div>
}
