@(title: String, storyList: List[Story], offset: Integer, totalStories: Integer, interval: Integer)

@main("Welcome to StoryHub"){ }{

	<div class="container">
		<p class="title">
			@title
		</p>
		<div id="all_stories">
			@for(story <- storyList){
			<div class="story">
				<table>
				<col style="width:90%"><col style="width:10%">
				<tr>
					<td>
						<a class="title" href="/Story/@story.getStoryId()/0"> @story.getRoot().getTitle()</a>
					</td>
				</tr>
				<tr>
					<td>
						<div class="author"> @story.getRoot().getAuthor() </dv>
					</td>
				</tr>
				<tr> 
					<td>
						<ul class="tags">
				@for(tag <- story.getRoot().getTags()){
						<li><a href="/Search/@tag" class="tag">@tag</a></li>
					
			}
			</ul>
					</td>
				</tr>
				<tr>
					<td>
						<div class="content"> @Html(story.getRoot().displayContent())</div>
					</td>
				</tr>
			</table>
			</div>
		}
		</div>
		<div>
		<button id="PrevButton" type="button" class="btn btn-primary" onclick="prevPage(@offset, @interval)">
		    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Previous Page
		  </button>
	      <button id="NextButton" type="button" class="btn btn-primary" onclick="nextPage(@offset, @totalStories, @interval)">
	        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Next Page
	      </button>
	      <script>
	      	function prevPage(i, interval) {
	      		var newIndex = i-interval;
	      		if(newIndex<0) {
	      			$("#PrevButton").html("Previous page not possible");
	      			$('#PrevButton').prop('disabled', true);
	      		} else {
	      			window.location = "/"+newIndex.toString();
	      		}
	      	}
	      	function nextPage(i, totalStories, interval) {
	      		var newIndex = i+interval;
	      		console.log("i"+i.toString());
	      		console.log("interval"+interval.toString());
	      		console.log(newIndex);
	      		if(newIndex>totalStories) {
	      			$("#NextButton").html("Next page not possible");
	      			$('#NextButton').prop('disabled', true);
	      		} else {
	      			window.location = "/"+newIndex.toString();
	      		}
	      	}
	      </script>
  		</div>
	</div>
}
