@(title: String, postForm: String)

@main(title){
	<link rel="stylesheet" href="//cdn.quilljs.com/latest/quill.snow.css" />
	<script src="//cdn.quilljs.com/latest/quill.min.js"></script>
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/textEditor.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/newStory.css")">
} {

	<div id="allcontent">
		<p class="title">
			@title
		</p>
		<form method="POST" action="" id="newitemform" name="@postForm" role="form" >
			<div class="form-group">
				<input type="hidden" name="content" value="" id="content">
			</div>
			<div class="form-group">
				<label for="title">Title </label><br/>
				<input id ="story-title" onclick=this.select() type="text" name="title" class="form-control"/> <br/>
			</div>
			<div class="form-group">
				<label for="quill"> Story Content </label><br/>
				<div id="quillcontainer">
					<!-- Create the toolbar container -->
					<div id="toolbar">
					  <span class="ql-format-group">
						<select title="Font" class="ql-font">
						<option value="sans-serif" selected="">Sans Serif</option>
						<option value="serif">Serif</option>
						<option value="monospace">Monospace</option>
						</select>
						<select title="Size" class="ql-size">
						<option value="10px">Small</option>
						<option value="13px" selected="">Normal</option>
						<option value="18px">Large</option>
						<option value="32px">Huge</option>
						</select>
						</span>
						<span class="ql-format-group">
						<span title="Bold" class="ql-format-button ql-bold"></span>
						<span class="ql-format-separator"></span>
						<span title="Italic" class="ql-format-button ql-italic"></span>
						<span class="ql-format-separator"></span>
						<span title="Underline" class="ql-format-button ql-underline"></span>
						<span class="ql-format-separator"></span>
						<span title="Strikethrough" class="ql-format-button ql-strike"></span>
						</span>
						<span class="ql-format-group">
						<select title="Text Color" class="ql-color">
						<option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)" selected=""></option>
						<option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
						<option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
						<option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
						<option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
						<option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
						<option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
						<option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
						<option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
						<option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
						<option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
						<option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
						<option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
						<option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
						<option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
						<option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
						<option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
						<option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
						<option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
						<option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
						<option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
						<option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
						<option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
						<option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
						<option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
						<option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
						<option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
						<option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
						<option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
						<option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
						<option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
						<option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
						<option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
						<option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
						<option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
						</select>
						<span class="ql-format-separator"></span>
						<select title="Background Color" class="ql-background">
						<option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
						<option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
						<option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
						<option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
						<option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
						<option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
						<option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
						<option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)" selected=""></option>
						<option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
						<option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
						<option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
						<option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
						<option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
						<option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
						<option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
						<option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
						<option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
						<option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
						<option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
						<option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
						<option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
						<option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
						<option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
						<option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
						<option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
						<option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
						<option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
						<option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
						<option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
						<option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
						<option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
						<option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
						<option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
						<option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
						<option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
						</select>
						</span>
						<span class="ql-format-group">
						<span title="List" class="ql-format-button ql-list"></span>
						<span class="ql-format-separator"></span>
						<span title="Bullet" class="ql-format-button ql-bullet"></span>
						<span class="ql-format-separator"></span>
						<select title="Text Alignment" class="ql-align">
						<option value="left" label="Left" selected=""></option>
						<option value="center" label="Center"></option>
						<option value="right" label="Right"></option>
						<option value="justify" label="Justify"></option>
						</select>
						</span>
						<span class="ql-format-group">
						<span title="Link" class="ql-format-button ql-link"></span>
						</span>
					</div>

					<!-- Create the editor container -->
					<div id="editor">
					  <div></div>
					</div>
				</div>
			</div>
			<!-- Include the Quill library -->
			<script src="http://cdn.quilljs.com/latest/quill.js"></script>
			<div class="form-group">
				<label for="tags">Tags </label><br/>
				<input type="text" placeholder="e.g. newyork hippo awkwardanimals" onclick=this.select() id="story-tags" name="tags" class="form-control"/> <br/>
			</div>
			<div id="errors"></div>
			<br>
			<button onclick="goBack()" class="btn btn-default"> Back </button>
			<button type="submit" onclick="clickReturn()" class="btn btn-default">Submit</button>
		</form>

		<script>

			function goBack() {
    			window.history.back();
			}

			// Initialize editor with custom theme and modules
			var fullEditor = new Quill('#editor', {
			  modules: {
			    'toolbar': { container: '#toolbar' },
			    'link-tooltip': true
			  },
			  theme: 'snow'
			});

			function validateForm()
			{
				//Checks that content isn't just blanks/spaces/new lines
				var content = fullEditor.getHTML();
				console.log(content);
				var checkContent = content.replace(/<div>/g,"").replace(/<\/div>/g,"").replace(/<br>/g,"").replace(/<\/br>/g,"").replace(/&nbsp;/g,"").replace(/^\s+|\s+$/g, "");
				console.log("Content length is"+checkContent.length);
				console.log("Check content is "+checkContent);
				if (checkContent.length == 0)
				{
					document.getElementById("errors").innerHTML = "Please enter in story content.";
					return false;
				}
				//Checks that tile isn't just blanks/spaces/newlines
				var mytitle = $("#story-title").val();
				var checkTitle = mytitle.replace(/^\s+|\s+$/g, "");
				console.log("CheckTitle length is "+checkTitle.length);
				if(checkTitle.length == 0)
				{
					console.log("In check title");
					document.getElementById("errors").innerHTML = "Please enter in a title.";
					return false;
				}

				document.getElementById("content").value = content;
				return true;
			}

			function clickReturn(){
				return;
			}

			$("#newitemform").submit(function(event){
				event.preventDefault();
				console.log("Entered submit function!!");
				var $form = $(this);
				url = window.location.href;
				console.log("Url is "+url);

				var valid = validateForm();
				console.log("Valid is "+valid);
				if(valid == true){
					console.log("Form was validated");
					var posting = $.post(url,{
						title: $("#story-title").val(),
						content : document.getElementById("content").value , 
						tags: $("#story-tags").val() 
					});

					posting.done(function(segInfoString){
						console.log("Received reply!");
						var segInfo = segInfoString.split(",");
						var storyId = segInfo[0];
						var segmentId = segInfo[1];
						window.location = "/Story/"+storyId.toString()+"/"+segmentId.toString();
					});
				}
			});



		</script>
	</div>
}