@(myStory: Integer, mySegs: List[Integer], loggedin: Boolean, isClosed: Boolean)


@main(""){
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/story.css")">
} {
	<div id="all_segments">
		
	</div>
	<div id="shareButtons">
		<a class="twitter-share-button"
		  href="https://twitter.com/intent/tweet?text=Hello%20world&url=http://localhost:9000/Story/5/"+@{global_SegId}
		  data-size="large">
		Tweet</a>
	</div>
	<script>
		var storyId = @{myStory};

		/**
		* Adds segments html to story page by posting AJAX request to back end
		* param Segment id
		* param Parent id
		*/
		function addSegment(segmentId, parentId){
			//Enable all buttons to view child segments
			var buttonLevel = ".btn" + parentId;
			$(buttonLevel).prop('disabled', false);
			var buttonForSegId = "#" + segmentId;
			//Check if button exists for segmentId
			//There won't be one for the root
			if ($(buttonForSegId).length > 0) {
				$(buttonForSegId).prop('disabled', true);
			}
			//Check if segment of same level exists.
			var segmentLevel = ".segment" + parentId;
			if($(segmentLevel).length){
				//If so, remove all children below
				$(segmentLevel).nextAll().remove();
				//And remove same level segment
				$(segmentLevel).remove();
			}
			$.ajax({
	          	type: 'POST',
	          	url: '/AddSegment',
	          	data: 
	          	{
	              	storyId: storyId,
	              	segmentId: segmentId
	          	},
	          	success: function(JSONstory) 
	          	{       
	              	var story = JSON.parse(JSONstory);
	              	console.log(story);
	              	addJSONcontent(story, segmentId);
	              	index += 1;
	              	if (index < segments.length){
	              		addSegment(segments[index], segments[index - 1]);
	              	}
	          	}
	      	});
		}

	   /**
		* changes JSON returned by back end to html and appends to page
		* param storyJSON string
		* param segmentId of the bottom most node of story
		*/
		function addJSONcontent(storyJSON, segmentId){
			// NewFork URL: /story/:storyId/:segmentId/NewFork
			var newForkURL = "/Story/" + @myStory + "/" + segmentId + "/NewSegment";
			var story = '<div class="story segment' + storyJSON["parentSegId"] + '">';
			story += '<table> \
						<col style="width:90%"><col style="width:10%"> \
						<tr> \
							<td> \
								<div class="title">' + storyJSON["title"] + '</div> \
							</td>';
			@if(loggedin && !isClosed){
				story += '<td> \
							<button type="button" class="fork btn btn-primary" onclick="location.href=\'' + newForkURL + '\';">+ Segment\
							</button> \
						</td>';
			}
			@if(isClosed){
				story += '<td> \
							<span style="border: red 2px solid; padding: 5px; border-radius: 5px; color: red;font-weight: bold;"> Closed Story </span> \
						</td>';
			}
			story += '</tr> \
					<tr> \
						<td> \
							<div class="author">' + storyJSON["author"] + '</div> \
						</td> \
					</tr> \
					<tr> \
						<td> \
							<ul class="tags">';
			//add html for each tag
			for (var i = 0; i < storyJSON["tags"].length; i++){

				if(storyJSON["tags"][i].length!=0){
					story += '<li><a href="/SearchTags/'+storyJSON["tags"][i]+'" class="tag">' + storyJSON["tags"][i] + '</a></li>';
				}
			}
			story += '</ul> \
					</td> \
				</tr> \
				<tr> \
					<td> \
						<div class="content">' + storyJSON["content"].replace(/\~\|\+\#/g, "\"") + '</div> \
					</td> \
				</tr> \
				<tr> \
					<td>';
				// add button html for children nodes
				story += '<div class="children">';
				for (var i = 0; i < storyJSON["childrenid"].length; i++){
					story += '<button type="button" id="' +  storyJSON["childrenid"][i] + '" class= "childbtn btn btn-primary btn' + segmentId + '" onclick="addSegment(' + storyJSON["childrenid"][i] + ',' + segmentId + ' );">' + storyJSON["childrentitle"][i] + '</button>';
				}
				story += '</div>';
			
			story += '</td> \
				</tr> \
			</table> \
		</div>';
			$('#all_segments').append(story);
			$("body").animate({ scrollTop: $(document).height() }, "slow");
		}

		var segments = @mySegs;
		var index  = 0;
		//starts adding segments to html of page
		$(document).ready(function() {
			index = 0;
			addSegment(segments[0], -1);
		});
	</script>
}