@(myStory: Integer, mySegs: List[Integer], loggedin: Boolean)


@main(""){
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/story.css")">
} {
	<div id="all_segments">
		
	</div>
	<script>
		var storyId = @{myStory};
		function addSegment(segmentId, parentId){
			// If not the first segment, then we're looking at a branch. 
			// Need to disable to see only 1 segment branch at a time
			if(segmentId !== 0 && parentId > -1){
				$('button').prop('disabled', false);
				document.getElementById(segmentId).disabled = true;
				var segmentLevel = ".segment" + parentId;
				if($(segmentLevel).length){
					$(segmentLevel).remove();
				}
			}
			console.log("addSegment() method");
			$.ajax({
	          	type: 'POST',
	          	url: '/AddSegment',
	          	data: 
	          	{
	              	storyId: storyId,
	              	segmentId: segmentId
	          	},
	          	success: function(JSONstory) 
	          	{       
	              	var story = JSON.parse(JSONstory);
	              	console.log(story);
	              	addJSONcontent(story, segmentId);
	              	index += 1;
	              	if (index < segments.length){
	              		addSegment(segments[index], segments[index - 1]);
	              	}
	          	}
	      	});
		}
		function addJSONcontent(storyJSON, segmentId){
			// NewFork URL: /story/:storyId/:segmentId/NewFork
			var newForkURL = "/Story/" + @myStory + "/" + segmentId + "/NewSegment";
			console.log("newForkURL");
			console.log(newForkURL);
			var story = '<div class="story segment' + storyJSON["parentSegId"] + '">';
			story += '<table> \
				<col style="width:90%"><col style="width:10%"> \
				<tr> \
					<td> \
						<div class="title">' + storyJSON["title"] + '</div> \
					</td>';
			@if(loggedin){
				story += '<td> \
					<button type="button" class="fork btn btn-primary" onclick="location.href=\'' + newForkURL + '\';">+ Segment</button> \
					</td>';
			}
			story += '</tr> \
				<tr> \
					<td> \
						<div class="author">' + storyJSON["author"] + '</div> \
					</td> \
				</tr> \
				<tr> \
					<td> \
						<ul class="tags">';
			for (var i = 0; i < storyJSON["tags"].length; i++){
				story += '<li><a href="/Search/'+storyJSON["tags"][i]+'" class="tag">' + storyJSON["tags"][i] + '</a></li>';
			}
			story += '</ul> \
					</td> \
				</tr> \
				<tr> \
					<td> \
						<div class="content">' + storyJSON["content"] + '</div> \
					</td> \
				</tr> \
				<tr> \
					<td>';
			if(!$('.segment-1').length){
				story += '<div class="children">';
				for (var i = 0; i < storyJSON["childrenid"].length; i++){
					story += '<button type="button" id="' +  storyJSON["childrenid"][i] + '" class="btn btn-primary" onclick="' + "addSegment(" + storyJSON["childrenid"][i] + ',' + segmentId + ' );">' + storyJSON["childrentitle"][i] + '</button>';
				}
				story += '</div>';
			}
			story += '</td> \
				</tr> \
			</table> \
		</div>';
			$('#all_segments').append(story);
		}

		var segments = @mySegs;
		var index  = 0;
		$(document).ready(function() {
			index = 0;
			addSegment(segments[0], -1);
		});
	</script>
}

<!-- <div class="segment">
			<table>
				<col style="width:90%"><col style="width:10%">
				<tr>
					<td>
						<div class="title"> Title </div>
					</td>
					<td>
						<button type="button" class="fork btn btn-primary"> Fork </button> 
					</td>
				</tr>
				<tr>
					<td>
						<div class="author"> Author </div>
					</td>
				</tr>
				<tr> 
					<td>
						<ul class="tags">
							<li><a href="#" class="tag">Tag1</a></li>
							<li><a href="#" class="tag">Tag2</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<div class="content">	This is my amazing story of amazingness....Oh wait...I can just copy in a story instead. But it's too late now cuz I've already written a bunch of shit</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="children">	
							<button type="button" id="1" class="btn btn-primary"> Child 1</button> 
							<button type="button" id="2" class="btn btn-primary"> Child 2</button> 
						</div>
					</td>
				</tr>
			</table>
		</div> -->